/* TEXT XS: 12px / 150% Line-height (Timestamps, Tooltips, Badges) */
@utility text-xs-custom {
  font-size: 0.75rem;       /* 12px */
  line-height: 150%;        /* 18px */
}

/* TEXT SM: 14px / 143% Line-height (Table rows, Form input descriptions) */
@utility text-sm-custom {
  font-size: 0.875rem;      /* 14px */
  line-height: 143%;        /* 20px */
}

/* TEXT BASE: 16px / 150% Line-height (Body text) */
@utility text-base-custom {
  font-size: 1.0rem;        /* 16px */
  line-height: 150%;        /* 24px */
}

/* TEXT XL: 20px / 150% Line-height (Subheadings, Field Titles) */
@utility text-xl-custom {
  font-size: 1.25rem;       /* 20px */
  line-height: 150%;        /* 30px */
}

/* TEXT 3XL: 30px / 150% Line-height (Section Titles) */
@utility text-3xl-custom {
  font-size: 1.875rem;      /* 30px */
  line-height: 150%;        /* 45px */
}

/* TEXT 5XL: 48px / 130% Line-height (Header) */
@utility text-5xl-custom {
  font-size: 3.0rem;        /* 48px */
  line-height: 130%;        /* 62.4px */
}

:root {
  /* Color Hunt:*/
  --ch-light-canvas: #F9F7F7;
  --ch-cool-gray:    #DBE2EF;
  --ch-lighter-blue:   #3F72AF;
  --ch-dark-blue:    #112D4E;

  /* Color Custom Shades*/
  --dark-blue-700:   #0A1B2F; /* Dark Blue 700 shade */
  --dark-blue-800:   #07121F; /* Dark Blue 800 shade */
  --lighter-blue-800: #192E46; /* Lighter Blue 800 shade */
  --lighter-blue-600: #3F72AF; /* Lighter Blue 600 shade */


  --text: var(--ch-light-canvas);
  --text-h: var(--ch-light-canvas); /*Headings*/
  --bg: var(--dark-blue-700);
  --border: var(--ch-cool-gray);
  --code-bg: var(--lighter-blue-800);
  --accent: var(--lighter-blue-600);
  --accent-bg: var(--dark-blue-800);
  --accent-border: var(--ch-lighter-blue);
  --social-bg: var(--lighter-blue-600);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  /*
  Core Font Family Definitions from Figma:
  - IBM Plex Sans: UI elements, e.g. buttons, navigation panels, etc.
  - Inter: Data-heavy table, document previews, sidebars, etc.
  - Source Serif 4: headings
  */
  --sans: 'IBM Plex Sans', 'Inter', system-ui, -apple-system, sans-serif;
  --heading: 'Source Serif 4', Georgia, serif;
  --mono: ui-monospace, SFMono-Regular, Consolas, monospace;

  font: 400 1.0rem/150% var(--sans);
  letter-spacing: 0.01rem;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 64rem) {
    font-size: 0.875rem;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: var(--ch-light-canvas);
    --text-h: var(--ch-light-canvas); /*Headings*/
    --bg: var(--dark-blue-700);
    --border: var(--ch-cool-gray);
    --code-bg: var(--lighter-blue-800);
    --accent: var(--lighter-blue-600);
    --accent-bg: var(--dark-blue-800);
    --accent-border: var(--ch-lighter-blue);
    --social-bg: var(--lighter-blue-600);
    --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

#root {
  width: 70.375rem; /* 1126px */
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 0.0625rem solid var(--border); /*1px*/
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading), serif;
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  @apply text-5xl-custom;
  letter-spacing: -0.105rem;
  margin: 2.0rem 0;
  @media (max-width: 64rem) {
    font-size: 1.875rem;
    margin: 1.25rem 0;
  }
}

h2 {
  /*font-size: 24px;*/
  /*line-height: 118%;*/
  @apply text-3xl-custom;
  letter-spacing: -0.015rem;
  margin: 0 0 0.5rem;
  @media (max-width: 64rem) {
    font-size: 1.25rem;
  }
}

p {
  @apply text-base-custom;
  margin: 0;
}

code,
.counter {
  @apply text-base-custom;
  font-family: var(--mono), serif;
  display: inline-flex;
  border-radius: 0.25rem;
  color: var(--text-h);
}

code {
  @apply text-base-custom;
  padding: 0.25rem 0.5rem;
  background: var(--code-bg);
}
